.symfony__container {
    max-width: 1300px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.symfony__logo img{
    height: 400px;
    width: auto;
    border-radius: 5px;
    margin: auto;
}

.symfony__vaya img{
    width: 95%;
    border-radius: 5px;
    margin: auto;
}

.symfony__intro--present {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
}

.symfony__intro--present h4 {
    width: 96%;
    font-size: 1.1rem;
    padding: 20px;
    border: 1px solid var(--color-primary);
    margin: 15px auto;
    border-radius: 10px;

}

.symfony__intro--para {
    width: 95%;
    margin: 40px auto 20px;
    padding: 20px;
    border: 1px solid transparent;
    background: var(--color-gray);
    border-radius: 10px;
    line-height: 2rem;
}

.symfony__intro--para:hover {
    border: 1px solid var(--color-primary);
    background: var(--color-black);
}

.symfony__intro--techno {
    width: 96%;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 50px;
    margin-top: 50px;
    background: var(--color-gray);
}

.symfony__intro--techno:hover {
    border: 1px solid var(--color-primary);
    background: var(--color-black);
}

.symfony__intro--techno h2 {
    text-align: center;
    font-size: 2.5rem;
}

.symfony__intro--techno h3 {
    font-size: 1.4rem;
    margin: 15px 0;
}

.symfony__intro--techno p {
    margin: 10px;
}

.gallery__title {
    margin-top: 50px;
}

.symfony__gallery {
    max-width: 1300px;
    height: auto;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px;
}

.symfony__grille--item {
    width: 300px;
    height: 200px;
    border: 1px solid var(--color-primary); 
}

.plus {
    margin: 10px;
}




