.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__items {
    background: var(--color-gray);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transform: var(--transition);
}

.portfolio__items:hover {
    border-color: var(--color-primary);
    background: transparent;
}

.portfolio__items-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__items h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio__items-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ======================= MEDIA QUERIES 1024 ============================== */


@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* ======================= MEDIA QUERIES 600 ============================== */


@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}